@charset "UTF-8";
:root {
  --focus: var(--chat-send);
  --required: '*';
  --trans: .2s;
  --chat-receive: #90CAF9;
  --chat-send: #81C784;
  --chat-bg: gainsboro;
  --bg: #0a1612;
  --bg-fade: rgba(10, 22, 18, 0.7);
  --accent: #50111d;
  --text: #eeeeee;
  --text-inactive: #89898d;
  --hide: transparent;
  --show: black;
}

@font-face {
  font-family: Ampersand;
  src: local("Baskerville"), local("Goudy Old Style"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+26;
}

body {
  font-family: Ampersand, Ubuntu, Calibri, Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.4em;
  line-height: 1.4em;
  color: var(--text);
  background-color: var(--bg);
  background-image: linear-gradient(90deg, #505050 0, #323232 0.6em, transparent 0), linear-gradient(90deg, #323232 2em, transparent 0);
  background-size: 2em 40%, 2.7em 100%, 2em 100%;
  transition: filter calc(var(--trans)*3) calc(var(--trans));
}

body > h1 {
  margin: 1em 0;
  padding: 0 1em;
}

body.blurred > * {
  filter: blur(10px);
}

body > div:first-of-type {
  position: absolute;
  top: -3em;
  width: 100%;
  background-color: var(--bg);
  text-align: center;
  padding: .5em 0;
  transition: var(--trans);
}

body > div:first-of-type:focus-within {
  top: 0;
}

img {
  min-width: 100%;
  max-width: 100%;
}

a {
  color: var(--text);
}

*:focus {
  border-color: var(--focus);
  outline-color: var(--focus);
}

nav ul, nav ol {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 2fr));
  grid-gap: .2em;
  text-align: center;
  margin: 0;
}

nav ul ul, nav ol ul {
  display: none;
  width: 100%;
  position: absolute;
}

nav ul li:hover, nav ul li:focus-within, nav ol li:hover, nav ol li:focus-within {
  position: relative;
}

nav ul li:hover ul, nav ul li:focus-within ul, nav ol li:hover ul, nav ol li:focus-within ul {
  display: block;
}

nav ol {
  grid-template-columns: repeat(4, 25%);
  padding: 0 0 .5em;
}

nav progress + ol {
  color: var(--text-inactive);
}

nav a {
  text-decoration: none;
  display: block;
  width: 100%;
  transition: var(--trans);
}

nav a:hover, nav a:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 0;
}

nav:first-of-type {
  background-color: var(--accent);
}

nav:first-of-type h1 {
  display: none;
}

nav:first-of-type li ul {
  background-color: var(--accent);
}

nav:first-of-type a {
  padding: .5em 0;
}

progress {
  -webkit-appearance: none;
  overflow: hidden;
  height: 1em;
  display: block;
  width: 100%;
}

progress::-webkit-progress-value {
  background-color: var(--chat-send);
}

form label {
  flex-direction: row;
  justify-content: flex-start;
}

form > a {
  display: inline-block;
}

form:valid {
  background-color: var(--chat-send);
}

fieldset label {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: var(--hide);
}

fieldset label svg {
  order: -1;
  width: 2em;
  height: 2em;
  transition: calc(var(--trans) * 2);
  filter: grayscale(100%);
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

input, button {
  display: block;
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-top: .5em;
  padding: .2em;
  border: 3px solid gray;
}

input:invalid, button:invalid {
  border-color: red;
}

input:placeholder-shown, button:placeholder-shown {
  border-color: orange;
}

input:valid, button:valid {
  border-color: var(--chat-send);
}

input[type=submit], button[type=submit] {
  position: relative;
  margin: 1.2em 0;
}

input[type=submit]::before, button[type=submit]::before {
  content: ' ';
  position: absolute;
  top: -1em;
  bottom: -1em;
  left: -1em;
  right: -1em;
}

input {
  padding: .5em;
}

input[type=radio] {
  opacity: 0;
}

input[type=radio]:checked + label svg {
  filter: grayscale(0);
  transform: scale(1.5);
}

input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type=checkbox] + label {
  display: inline-block;
  border-radius: .2em;
  cursor: pointer;
}

input[type=checkbox] + label::before {
  content: '';
  transition: var(--trans);
  display: inline-block;
  vertical-align: -.15em;
  width: 1em;
  height: 1em;
  margin-right: .4em;
  border-radius: .2em;
  background-color: var(--chat-receive);
  text-indent: .15em;
  line-height: .65;
  box-shadow: 1px 1px 1px black;
}

input[type=checkbox]:checked + label::before {
  background-color: var(--chat-send);
  box-shadow: 1px 1px 1px inset;
}

input[type=checkbox]:focus + label {
  outline: auto 5px var(--focus);
}

fieldset {
  border: none;
  filter: blur(0);
}

fieldset > div {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(4, 0 25%);
}

fieldset legend {
  position: relative;
}

fieldset:focus-within {
  position: relative;
  z-index: 1;
  filter: blur(0);
}

fieldset:focus-within svg {
  filter: grayscale(50%);
}

fieldset:focus-within::before {
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

fieldset::before {
  position: fixed;
  content: ' ';
  z-index: -1;
  transition: background-color var(--trans);
}

legend {
  font-size: 1.4em;
}

article, #chat, body > form {
  padding: 1em 2em;
}

article, #chat > *, form, fieldset, nav:nth-of-type(2) {
  max-width: 40em;
  margin: 0 auto;
  display: block;
}

figure {
  position: relative;
  margin: 0;
}

@media screen and (orientation: landscape) {
  figure img:first-of-type {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  figure img:nth-of-type(2) {
    display: none;
  }
}

figure figcaption {
  background-color: var(--bg-fade);
}

@media (min-width: 40em) {
  figure figcaption {
    position: absolute;
    bottom: .3em;
    padding: 1em;
  }
}

figure figcaption footer {
  font-style: italic;
  text-align: right;
}

#chat {
  background-color: var(--chat-bg);
  color: var(--bg);
  position: relative;
  z-index: 0;
}

#chat ol {
  padding: 0;
  list-style: none;
}

#chat ol li {
  padding: .5em 1em;
  margin-bottom: .8em;
  position: relative;
}

#chat ol li p {
  margin: 0;
}

#chat ol footer {
  display: flex;
  justify-content: space-between;
}

#chat ol footer p {
  font-size: .8em;
}

#chat ol footer p + p {
  color: var(--hide);
}

#chat ol footer p::before {
  float: right;
  color: var(--show);
}

#chat ol footer p:first-of-type::before, #chat ol footer p:first-of-type::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--chat-receive);
}

#chat ol footer p:first-of-type::before {
  top: 0;
  left: 0;
  border-radius: 1em;
}

#chat ol footer p:first-of-type::after {
  width: 1em;
}

#chat ol footer p:nth-last-child(n+2)::before, #chat ol footer p:nth-last-child(n+2)::after, #chat ol footer p:nth-last-child(n+2) ~ p::before, #chat ol footer p:nth-last-child(n+2) ~ p::after {
  background-color: var(--chat-send);
}

#chat ol footer p:nth-last-child(n+2)::after, #chat ol footer p:nth-last-child(n+2) ~ p::after {
  left: 0;
}

#chat form {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

#chat form:valid {
  background-color: var(--chat-bg);
}

#chat form label {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

#chat form textarea, #chat form button {
  border: 0;
}

#chat form textarea {
  font-size: 1.4em;
  box-sizing: border-box;
  width: 100%;
  border-radius: 1em 0 0 1em;
  padding: 1em 0 1em 1em;
}

#chat form button {
  border-radius: 0 1em 1em 0;
  margin: 0;
  margin-bottom: .25em;
}

[data-status=DELIVERED]::before {
  content: '📬';
}

[data-status=READ]::before {
  content: '📭';
}

.loader {
  width: 100px;
  height: 100px;
}

.loader span {
  opacity: 0;
  height: 0;
  float: left;
}

.loader #spinnergroup {
  transform-origin: center;
  animation: spinnersvg 0.5s infinite steps(8);
}

.loader.png {
  background: url(img/loader.png) 0 0;
  animation: spinnerpng 0.5s infinite steps(8);
}

@keyframes spinnersvg {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes spinnerpng {
  to {
    background-position: -800px 0;
  }
}
