:root {
  --focus: OliveDrab;
}

body {
  font-family: 'Ubuntu';
  display: grid;
  grid-template-columns: 50% 50%;
}

body h1:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

img {
  max-width: 100%;
}

*:focus {
  outline-color: var(--focus, red);
}

nav ul, nav ol {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul ul, nav ol ul {
  display: none;
}

nav ul li:hover ul, nav ul li:focus-within ul, nav ol li:hover ul, nav ol li:focus-within ul {
  display: block;
}

nav ol {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

progress {
  width: 100%;
}

form label {
  flex-direction: row;
  justify-content: flex-start;
}

label {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

label svg {
  order: -1;
  width: 2em;
  height: 2em;
}

input, button {
  display: block;
}

input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=radio]:checked + label {
  background-color: red;
}

fieldset {
  display: grid;
  grid-template-columns: 0 25% 0 25% 0 25% 0 25%;
}

fieldset:focus-within {
  border-color: var(--focus);
}

@media screen and (orientation: landscape) {
  figure img:first-of-type {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  figure img:last-of-type {
    display: none;
  }
}
