@charset "UTF-8";
:root {
  --focus: OliveDrab;
  --required: '*';
  --trans: .2s;
  --chat-receive: #90CAF9;
  --chat-send: #81C784;
  --chat-bg: gainsboro;
  --bg: #0A1612;
  --accent: #76323F;
  --text: #C5C1C0;
  --text-inactive: #89898d;
  --hide: transparent;
  --show: black;
}

body {
  font-family: Ubuntu, Calibri, Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.4em;
  line-height: 1.4em;
  color: var(--text);
  background-color: var(--bg);
}

body > h1 {
  margin: 1em 0;
  padding: 0 1em;
}

img {
  min-width: 100%;
  max-width: 100%;
}

a {
  color: var(--text);
}

*:focus {
  border-color: var(--focus, red);
  outline-color: var(--focus, red);
}

nav ul, nav ol {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 2fr));
  grid-gap: .2em;
  text-align: center;
}

nav ul ul, nav ol ul {
  display: none;
  width: 100%;
}

nav ul li:hover, nav ul li:focus-within, nav ol li:hover, nav ol li:focus-within {
  position: relative;
}

nav ul li:hover ul, nav ul li:focus-within ul, nav ol li:hover ul, nav ol li:focus-within ul {
  position: absolute;
  display: block;
}

nav ol {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

nav progress + ol {
  color: var(--text-inactive);
}

nav:first-of-type {
  background-color: var(--accent);
}

nav:first-of-type h1 {
  display: none;
}

nav:first-of-type li:hover, nav:first-of-type li:focus-within, nav:first-of-type li ul {
  background-color: #dbe649;
}

nav:first-of-type li a {
  color: var(--bg);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: .5em 0;
}

progress {
  width: 100%;
}

form [autofocus] {
  display: none;
}

form label {
  flex-direction: row;
  justify-content: flex-start;
}

fieldset label {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  color: var(--hide);
}

fieldset label svg {
  order: -1;
  width: 2em;
  height: 2em;
  transition: calc(var(--trans) * 2);
  filter: grayscale(100%);
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

input, button {
  display: block;
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-top: .5em;
  padding: .2em;
}

input:required, button:required {
  color: blue;
}

input {
  padding: .5em;
}

input[type=radio] {
  opacity: 0;
}

input[type=radio]:checked + label svg {
  filter: grayscale(0);
  transform: scale(1.5);
}

fieldset {
  padding: 2em 0;
  border: none;
}

fieldset > div {
  display: grid;
  grid-template-columns: 0 25% 0 25% 0 25% 0 25%;
}

fieldset:focus-within svg {
  filter: grayscale(70%);
}

legend {
  font-size: 1.4em;
}

article, #chat, body > form {
  padding: 1em 2em;
}

article, #chat > *, form, fieldset, nav:nth-of-type(2) {
  max-width: 40em;
  margin: 0 auto;
  display: block;
}

figure {
  margin: 0;
}

@media screen and (orientation: landscape) {
  figure img:first-of-type {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  figure img:nth-of-type(2) {
    display: none;
  }
}

figure figcaption footer {
  font-style: italic;
  text-align: right;
}

#chat {
  background-color: var(--chat-bg);
  color: var(--bg);
}

#chat ol {
  padding: 0;
  list-style: none;
}

#chat ol li {
  background-color: var(--chat-send);
  border-radius: 1em;
  padding: .5em 1em;
  margin-bottom: .8em;
  position: relative;
}

#chat ol li p {
  margin: 0;
}

#chat ol li.send {
  background-color: var(--chat-receive);
}

#chat ol footer {
  display: flex;
  justify-content: space-between;
}

#chat ol footer p {
  z-index: 2;
  font-size: .8em;
}

#chat ol footer p + p {
  color: var(--hide);
}

#chat ol footer p::before {
  float: right;
  color: var(--show);
}

#chat ol footer p:first-of-type::after {
  content: ' ';
  white-space: pre;
  width: 1em;
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
  background-color: var(--chat-receive);
}

#chat ol footer p:nth-last-child(n+2)::after, #chat ol footer p:nth-last-child(n+2) ~ p::after {
  left: 0;
  background-color: var(--chat-send);
}

[data-status=DELIVERED]::before {
  content: '📬';
}

[data-status=READ]::before {
  content: '📭';
}
