:root {
  --radius: .3em;
  --trans: .2s;
  --fontstack: Ubuntu, Calibri, Arial, Helvetica, sans-serif;
  --bg: #dddfd4;
  --accent: #fae596;
  --toned: #3fb0ac;
  --darktoned: #173e43;
}

@font-face {
  font-family: Ampersand;
  src: local("Baskerville"), local("Goudy Old Style"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+26, U+A9;
}

/* General stuffs */
*:focus {
  border-color: var(--toned);
  outline-color: var(--toned);
}

img {
  min-width: 100%;
  max-width: 100%;
}

a {
  color: var(--toned);
  transition: var(--trans);
}

a:hover {
  color: var(--darktoned);
}

p {
  max-width: 40em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ampersand, var(--fontstack);
  font-size: 9vw;
}

h1 + figure {
  margin-top: -31vw;
}

h1 + figure img {
  position: relative;
  z-index: -1;
}

figure {
  position: relative;
  margin: 0;
  z-index: -1;
}

@media screen and (orientation: landscape) {
  figure img:first-of-type {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  figure img:nth-of-type(2) {
    display: none;
  }
}

figure figcaption {
  color: var(--bg);
  background-color: var(--darktoned);
  padding: 1em;
  position: relative;
  margin-top: -1em;
}

figure figcaption a:hover {
  color: var(--accent);
}

figure figcaption footer {
  font-family: Ampersand, var(--fontstack);
  font-style: italic;
  text-align: right;
  font-size: .9em;
}

figure figcaption p + footer {
  margin-top: -1em;
}

/* Page content */
body {
  color: var(--darktoned);
  background-color: var(--bg);
  margin: 0;
  font-family: var(--fontstack);
  font-size: 1.2em;
  line-height: 1.4;
  /* Skip to content */
  /* "Hero" banner */
}

body > div:first-of-type {
  position: absolute;
  z-index: 10;
  top: -3em;
  width: 100%;
  background-color: var(--toned);
  text-align: center;
  padding: .8em 0;
  transition: var(--trans), background-color calc(var(--trans)*2) calc(var(--trans)/2);
}

body > div:first-of-type:focus-within {
  top: 0;
  background-color: var(--accent);
}

body > div:first-of-type:focus-within a {
  padding: 1em;
  background-color: var(--toned);
  color: var(--accent);
  outline: 0;
  position: relative;
  z-index: 99;
}

body > div:first-of-type:focus-within + * {
  position: relative;
}

body > div:first-of-type:focus-within + *::before {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body > div:first-of-type a {
  color: var(--darktoned);
}

body article:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 2em;
}

body article:first-of-type h1 {
  margin: 0;
  text-align: right;
}

body article:first-of-type h1 a {
  text-decoration: none;
  color: white;
}

body article:first-of-type p {
  background-color: var(--accent);
  border-radius: var(--radius);
  padding: 1.5em;
  animation: slideInLeft 1s ease-out 1.5s;
}

body article:first-of-type img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-height: 120vh;
  min-width: 120vw;
  max-width: 200%;
  animation: fadeInBanner 2s cubic-bezier(0.97, 0.01, 0.83, 0.67), breatheImg 8s infinite ease-in-out;
  filter: blur(10px) brightness(0.6);
}

nav {
  border-top: 0.5em solid var(--darktoned);
  transition: var(--trans);
}

nav:focus-within, nav:hover {
  border-color: var(--toned);
}

nav ul, nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--accent);
}

nav ul a, nav ol a {
  color: var(--darktoned);
  text-decoration: none;
  display: block;
  padding: 1em 2em;
  position: relative;
}

nav ul a:hover, nav ul a:focus, nav ol a:hover, nav ol a:focus {
  background-color: var(--toned);
  color: var(--accent);
  outline: 0;
}

nav ul ul, nav ol ul {
  display: none;
  /* Needed to disable focus interaction */
  position: absolute;
  width: 100%;
}

nav ul li, nav ol li {
  position: relative;
}

nav ul li:hover ul, nav ul li:focus-within ul, nav ol li:hover ul, nav ol li:focus-within ul {
  display: inline-block;
  animation: fadeIn calc(var(--trans)) linear;
}

nav h1 {
  display: none;
}

article > h1 {
  padding: 0 1em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBanner {
  0% {
    filter: blur(20px) brightness(0);
  }
  100% {
    filter: blur(10px) brightness(0.6);
  }
}

@keyframes breatheImg {
  0% {
    max-width: 185%;
  }
  50% {
    max-width: 215%;
  }
  100% {
    max-width: 185%;
  }
}

/* Added this to remove some personal plugin from displaying the IP address */
#tqShowIP {
  display: none;
}
